<section class="midhome" id="mid">
  <div class="container mid_cont h_cont">
    <div class="row-fluid">
      <h1>Partner Alliance Network</h1>
      <div class="innerpad1 pad1">
        <h2>Learn. Collaborate. Profit.</h2>
        <h5 class="team">Locomote empowers partners to grow revenue through the successful implementation of our travel management platform as an extended part of your offering. Whether you choose to <a href="">Embed</a> our platform within your own solution, <a href="">Advocate</a> it in the marketplace as a trusted advisor for new and existing clients, or join our <a href="">Developer Network</a>, we are happy to welcome you into our Locomote Partner Alliance Network.</h5>
      </div>
      <hr class="brd1">
      <div class="innerpad1 pad1 pad3 comp_part">
        <div class="span5">
          <h1><img alt="" src="/images/icon_embed.jpg">Embed</h1>
          <h5 class="nopad">Our <a href="#">Embed</a> agreement allows travel management companies to market, sell, implement, and support our platform solutions. Locomote works with our partners to grow business opportunities together.</h5>
          <h1><img alt="" src="/images/icon_advocate.jpg">Advocate</h1>
          <h5 class="nopad">Empower your consultants to become Locomote experts in strategy and implementation. Our <a href="#">Advocate</a> agreement is for consulting and system integration firms that provide an array of services within the corporate travel industry.</h5>
          <h1><img alt="" src="/images/icon_developer.jpg">Developer Network</h1>
          <h5 class="nopad">If you have a product or service offering that you think can benefit our travel management platform, submit a request to join our <a href="#">Developer Network</a>. Successful applicants will be able to showcase their offering in our app centre and will have access to our global client list.</h5>
        </div>
        <div class="span6 pull-right">
          <div class="cont_form ">
            <div class="form_pad"><img alt="" src="/images/img_clippad.png"></div>
            <h1>Partner Request</h1>
            <form action="" enctype="multipart/form-data" method="post" name="catwebformform60357">
              <input id="Company" name="Company" type="hidden">
              <br>
              <div class="cont_div">
                <input class="txt1" id="CAT_Custom_240539" name="CAT_Custom_240539" maxlength="4000" onfocus="this.value=='Company Name'?this.value='':this.value;" onblur="this.value=!this.value?'Company Name':this.value;" value="Company Name" type="text">
              </div>
              <div class="cont_div">
                <input placeholder="Full Name" class="txt1" id="FirstName" name="FirstName" maxlength="4000" onfocus="this.value=='Full Name'?this.value='':this.value;" onblur="this.value=!this.value?'Full Name':this.value;" value="Full Name" type="text">
              </div>
              <div class="cont_div">
                <input placeholder="Contact Number" class="txt1" id="CAT_Custom_240541" name="CAT_Custom_240541" maxlength="255" onfocus="this.value=='Contact Number'?this.value='':this.value;" onblur="this.value=!this.value?'Contact Number':this.value;" value="Contact Number" type="text">
              </div>
              <div class="cont_div">
                <input placeholder="Email Address" maxlength="255" class="txt1" id="EmailAddress" name="EmailAddress" onfocus="this.value=='Email Address'?this.value='':this.value;" onblur="this.value=!this.value?'Email Address':this.value;" value="Email Address" type="text">
              </div>
              <div class="cont_div">
                <select style="width: 387px; position: absolute; opacity: 0; height: 39px; font-size: 16px;" class="txt1 mySelectBoxClass" id="CAT_Custom_240542" name="CAT_Custom_240542">
                  <option value=" ">Select Partner Type</option>
                  <option value="Embed">Embed</option>
                  <option value="Advocate">Advocate</option>
                  <option value="Developer Network">Developer Network</option>
                </select>
                <span style="display: inline-block;" class="customSelect txt1 mySelectBoxClass customSelectChanged"><span style="width: 362px; display: inline-block;" class="customSelectInner">Select Partner Type</span></span> </div>
              <div class="cont_div">
                <textarea class="txtarea" onkeydown="if(this.value.length>=4000)this.value=this.value.substring(0,3999);" rows="4" cols="10" id="CAT_Custom_240546" name="CAT_Custom_240546" onfocus="this.value=='Briefly explain your business and or your product offering.'?this.value='':this.value;" onblur="this.value=!this.value?'Briefly explain your business and or your product offering.':this.value;">Briefly explain your business and or your product offering.</textarea>
              </div>
              <div class="cont_div">
                <div class="bnbtn bnlarge_fnt mart7">
                  <button id="inline_btn" class="btnclick">Submit Partner Request<span class="icon_demo1"><img alt="" src="/images/icon_demo.png"></span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div><br>
      </div>
      <div><br>
      </div>
    </div>
  </div>
</section>