<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>About us</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="css/theme.css" media="all">
<script type="text/javascript" src="bootstrap/js/jquery_1_8.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div id="headerwrap">
  <header id="header">
    <div style="display: none;" class="top_services" id="top_services">
      <div class="container">
        <div class="row-fluid">
          <div class="span3">
            <h3 class="fnt1">Services</h3>
            <p>As well as building great products for the travel industry we also offer our skill set to develop great products for specific projects that match our passion for making the internet a better place. If you would like to find out more explore each sevice offering in detail then get in touch.</p>
          </div>
          <div class="span3">
            <h3>Online Software</h3>
            <p>We develop stunning and intuitive online software that enable users to engage with brands through a great user experience.</p>
            <a href="#">View Work</a></div>
          <div class="span3">
            <h3>Mobile Applications</h3>
            <p>We develop mobile apps and mobile websites that enhance the user experience through great design for iOS, Android and Windows platforms.</p>
            <a href="#">View Work</a></div>
          <div class="span3">
            <h3>Website Development</h3>
            <p>We believe great design affects the ability of a website to sell, educate and convert leads into sales and then over again seamlessly.</p>
            <a href="#">View Work</a></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="container">
      <div class="row-fluid">
        <div class="span4 logo">
          <div class="fleft"><a href="#"><img alt="Locomote" src="images/logo.png"></a></div>
        </div>
        <div class="span8 menu">
          <div class="navstyle">
            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <div class="container"> <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar"> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                  <div class="nav-collapse collapse"> 
                    <!-- Dynamic Menu Begin CSS Output -->
                    <div id="cat_1207138_divs">
                      <ul id="nav_1207138">
                        <li class="selected"><a href="#">Home</a></li>
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle">Benefits<i class="icon-slidedown"></i></a>
                          <ul id="navsub_1207138_596436" class="dropdown-menu">
                            <li><a href="#">Operational Efficiency</a></li>
                            <li><a href="#">Financial Improvements</a></li>
                            <li><a href="#">Corporate Governance and Duty of Care Compliance</a></li>
                            <li><a href="#">Control of profile data &amp; process flow</a></li>
                            <li><a href="#">Modular Development</a></li>
                            <li><a href="#">Mobile Capability</a></li>
                            <li><a href="#">Support Centre</a></li>
                            <li><a href="#">Reporting Suite</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle">App Centre<i class="icon-slidedown"></i></a>
                          <ul id="navsub_1207138_596445" class="dropdown-menu">
                            <li><a href="#">Full List of Apps</a></li>
                            <li><a href="#">Payment Processing</a></li>
                            <li><a href="#">Corporate Booking Tool</a></li>
                            <li><a href="#">Airline Risk Calculator</a></li>
                            <li><a href="#">Ground Transportation</a></li>
                            <li><a href="#">Expense Management</a></li>
                            <li><a href="#">Traveller Tracking</a></li>
                            <li><a href="#">Developer Network</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle">Company<i class="icon-slidedown"></i></a>
                          <ul id="navsub_1207138_596454" class="dropdown-menu">
                            <li><a href="#">Management Team</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Other Projects</a></li>
                            <li><a href="#">Contact Us</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="https://www.locomotetmp.com/sign_in" target="_top">Login</a></li>
                        <li class="btnmenu"><a href="#">Enquire</a></li>
                      </ul>
                    </div>
                    <!-- Dynamic Menu End CSS Output --> 
                  </div>
                  <!--/.nav-collapse --> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- /container --> 
    </div>
  </header>
</div>
<section id="mid">
<div class="container mid_cont h_cont">
<div class="row-fluid">
    <h1>Management Team</h1>
    <div class="innerpad1 pad1">
        <h2>It's about collaboration and teamwork</h2>
        <h5 class="team">At Locomote we believe that ground breaking companies are built on great people and we have the best in the business. Locomote’s commitment to a strong team based culture has a huge effect on the quality of work produced. We collaborate as much as possible, innovate wisely and are driven to achieve the best results. The effect is a deeper relationship with our partners as they become part of our team.</h5>
    </div>
    <hr class="brd1">
    <div class="innerpad1 pad1 pad3 tm_cont">
        <div class="tm_avatar">
            <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
            <div class="tm_avatar_image"><img alt="" src="images/team_phil.jpg"></div>
        </div>
        <h1>Phil Weinman</h1>
        <h2>Chairman</h2>
        <div class="tm_msg">
            <h5>Philip Weinman has been touted as Australia's ultimate serial entrepreneur. After starting and selling seven fast-growing businesses including HiSoft, CTS Travel and Vitamin Me, he came out of retirement to form the Deasil Group - a human capital firm with investments in 14 separate businesses. Visit <a href="" target="_top">deasil.com.au</a> to view all of Deasil's businesses and for Phil's bio visit <a href="" target="_top">philipweinman.com</a></h5>
            <h4><a href="" target="_top">Connect on Linkedin</a></h4>
        </div>
    </div>
    <hr class="brd1">
    <div class="innerpad1 pad1 pad3 tm_cont">
        <div class="tm_avatar">
            <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
            <div class="tm_avatar_image"><img alt="" src="images/team_ross.jpg"></div>
        </div>
        <h1>Ross Fastuca</h1>
        <h2>Co-Founder</h2>
        <div class="tm_msg">
            <h5>Ross manages the web dev team, concept development, partner relationships &amp; implementation for all Locomote projects. As a specialised UX developer, Ross ensures Locomote produces powerful, scalable and creative web applications built with the latest technologies in an ever-changing online landscape. Managing projects using the agile management methodology, Ross ensures projects are developed in a highly flexible, interactive manner empowering and leading the Locomote team. This creates an efficient and effective team focused on achieving and setting short and long-term goals, maximising quality and delivering great results.</h5>
            <h4><a href="" target="_top">Connect on Linkedin</a></h4>
        </div>
    </div>
    <hr class="brd1">
    <div class="innerpad1 pad1 pad3 tm_cont">
        <div class="tm_avatar">
            <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
            <div class="tm_avatar_image"><img alt="" src="images/team_david.jpg"></div>
        </div>
        <h1>David Fastuca</h1>
        <h2>Co-Founder</h2>
        <div class="tm_msg">
            <h5>David manages concept development, visual design, branding and strategy implementation for all Locomote projects. As a specialised UI/UX designer, David ensures Locomote produces rich, tactile, and appropriate creative with careful consideration for the most efficient coding implementation. His experience in designing high converting software platforms and mobile applications has seen Locomote cement itself as one of Australia's Leading User Experience companies.</h5>
            <h4><a href="" target="_top">Connect on Linkedin</a></h4>
        </div>
    </div>
    <hr class="brd1">
    <div class="innerpad1 pad1 pad3 tm_cont">
        <div class="tm_avatar">
            <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
            <div class="tm_avatar_image"><img alt="" src="images/team_clive.jpg"></div>
        </div>
        <h1>Clive Sher</h1>
        <h2>Director</h2>
        <div class="tm_msg">
            <h5>Dr Clive Sher immigrated to Australia in 1985. He has since held positions as Medical Director, Pacific Brands; Director of Medical Services for BOC Gases; Medical Officer ACI Blowpak; Medical Officer for Adidas Australia; Medical Director Pacific Dunlop; Director Kays Optical; Director OccCorp. He currently holds the following positions: Director of Medical Services, Medibank Private; Medical Director, Lawrence and Hanson Group; Medical Director, Loscam; and, Medical Director, Somerville Retail Services. He has had an extensive experience of both private companies and public corporations. Clive has developed many businesses that have been sold to public companies from Optical Retail to General Practice. He has a wide range of business knowledge with a strong medical background which provides him ideal skills to support and mentor individuals at all levels.</h5>
            <h4><a href="" target="_top">Connect on Linkedin</a></h4>
        </div>
    </div>
    <hr class="brd1">
    <div class="innerpad1 pad1 pad3 tm_cont">
        <div class="tm_avatar">
            <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
            <div class="tm_avatar_image"><img alt="" src="images/team_tass.jpg"></div>
        </div>
        <h1>Tass Messinis</h1>
        <h2>Director of Sales</h2>
        <div class="tm_msg">
            <h5>Tass is responsible for the commercial business operations, go-to-market strategy and sales. Tass has over 25 years experience in sales, marketing and operations at a senior executive management level throughout Asia Pacific and the Middle East regions. He has developed and implemented effective transformation, business development and go-to-market strategies for organisations within global travel services, corporate card financial services and information technology; ranging from large global companies such as American Express, News Limited, British Telecom and Alcatel to regional companies such as Batelco, Dialect Solutions and QSI Payments. Tass holds qualifications in marketing, sales management and international business. He is a board director of Kudos Knowledge Limited, Semantic Intelligence Group Pty Ltd and ex-board member of the Australian Federation of Travel Agents (AFTA 2011-12). </h5>
            <h4><a href="" target="_top">Connect on Linkedin</a></h4>
        </div>
    </div>
    <hr class="brd1">
    <div class="innerpad1 pad1 pad3 tm_cont">
        <div class="tm_avatar">
            <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
            <div class="tm_avatar_image"><img alt="" src="images/team_dean.jpg"></div>
        </div>
        <h1>Dean Weinman</h1>
        <h2>Director</h2>
        <div class="tm_msg">
            <h5>With his ever-expanding global network of business, social and community contacts, Dean's ability to not only 'see' an opportunity but then 'act' on it (where others may not) allows him to take a good 'idea' and make it become a 'reality'. An eternal optimist, Dean does not see problems but rather opportunities to find favourable solutions. </h5>
            <h4><a href="" target="_top">Connect on Linkedin</a></h4>
        </div>
    </div>
    <hr class="brd1">
    <h1>Our Advisors</h1>
    <div class="innerpad6">
        <div class="adv">
            <ul>
                <li>
                    <div class="tm_avatar">
                        <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
                        <div class="tm_avatar_image"><img alt="" src="images/adv_peter.jpg"></div>
                    </div>
                    <h3>Peter Williams</h3>
                    <h5>Chief Executive Officer<br>
                        Deloitte Digital</h5>
                </li>
                <li>
                    <div class="tm_avatar">
                        <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
                        <div class="tm_avatar_image"><img alt="" src="images/adv_richard.jpg"></div>
                    </div>
                    <h3>Richard Uechtritz</h3>
                    <h5>Ex-CEO<br>
                        JB Hi-Fi</h5>
                </li>
                <li>
                    <div class="tm_avatar">
                        <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
                        <div class="tm_avatar_image"><img alt="" src="images/adv_peterpagonis.jpg"></div>
                    </div>
                    <h3>Peter Pagonis</h3>
                    <h5>Partner and Board<br>
                        Member, Deloitte</h5>
                </li>
                <li>
                    <div class="tm_avatar">
                        <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
                        <div class="tm_avatar_image"><img alt="" src="images/adv_daniel.jpg"></div>
                    </div>
                    <h3>Daniel Okun</h3>
                    <h5>Group CFO<br>
                        Deasil Management</h5>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="tm_avatar">
                        <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
                        <div class="tm_avatar_image"><img alt="" src="images/adv_stuart.jpg"></div>
                    </div>
                    <h3>Stuart Cook</h3>
                    <h5>Chief Executive Officer<br>
                        Zambrero</h5>
                </li>
                <li>
                    <div class="tm_avatar">
                        <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
                        <div class="tm_avatar_image"><img alt="" src="images/adv_jack.jpg"></div>
                    </div>
                    <h3>Jack DeLosa</h3>
                    <h5>Chief Executive Officer<br>
                        MBE Education</h5>
                </li>
                <li>
                    <div class="tm_avatar">
                        <div class="tm_avatar_trans"><img alt="" src="images/img_avatar_trans.png"></div>
                        <div class="tm_avatar_image"><img alt="" src="images/adv_andrew.jpg"></div>
                    </div>
                    <h3>Andrew Morello</h3>
                    <h5>Head of Business<br>
                        Yellow Brick Road</h5>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <hr class="brd1">
    <div class="innerpad1 pad1 pad3">
        <h1>Save Cost. Be Compliant. Take Control.</h1>
        <h5>For an indepth walkthrough request a free demonstration now.</h5>
        <div class="span5 bnbtn bnlarge_fnt"><a href="" class="btnclick"><span class="b_text">Request a Demo</span><span class="icon_demo"><img alt="" src="images/icon_demo.png"></span></a></div>
        <div><br>
        </div>
        <div><br>
        </div>
    </div>
</div>
</div>
</section>
<footer id="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
        <h5>BENEFITS</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209938_divs">
          <ul id="nav_1209938">
            <li><a href="#">Operational Efficiency</a></li>
            <li><a href="#">Financial Improvements</a></li>
            <li><a href="#">Corporate Governance and Duty of Care Compliance</a></li>
            <li><a href="#">Control of profile data &amp; process flow</a></li>
            <li><a href="#">Modular Development</a></li>
            <li><a href="#">Mobile Capability</a></li>
            <li><a href="#">Support Centre</a></li>
            <li><a href="#">Reporting Suite</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span2">
        <h5>APP CENTRE</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209939_divs">
          <ul id="nav_1209939">
            <li><a href="#">Full List of Apps</a></li>
            <li><a href="#">Payment Processing</a></li>
            <li><a href="#">Corporate Booking Tool</a></li>
            <li><a href="#">Airline Risk Calculator</a></li>
            <li><a href="#">Ground Transportation</a></li>
            <li><a href="#">Expense Management</a></li>
            <li><a href="#">Traveller Tracking</a></li>
            <li><a href="#">Developer Network</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span2">
        <h5>COMPANY</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209940_divs">
          <ul id="nav_1209940">
            <li><a href="#">Management Team</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span1">
        <h5>OTHER</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209941_divs">
          <ul id="nav_1209941">
            <li><a href="#">Pricing</a></li>
            <li><a href="#" target="_top">Login</a></li>
            <li><a href="#">Enquire</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span5">
        <h1><a class="btn" href="#">Enquire</a><span class="icphone">+613 8598 0695</span></h1>
        <div class="fright">
          <h4>SOCIAL CONNECT</h4>
          <ul>
            <li><a class="ifb" target="_top" href="#">&nbsp;</a></li>
            <li><a class="itw" target="_top" href="#">&nbsp;</a></li>
            <li><a class="iin" target="_top" href="#">&nbsp;</a></li>
            <li><a class="iyt" target="_top" href="#">&nbsp;</a></li>
            <li><a class="igp" target="_top" href="#">&nbsp;</a></li>
          </ul>
        </div>
        <h2><a href="/"><img alt="Locomote" src="images/logo_foot.png"></a></h2>
        <p><strong>Head Office</strong> 42 Barkly Street, St Kilda, VIC 3182, Australia</p>
        <p><a href="#">Privacy Policy</a>|<a href="#">Terms &amp; Conditions</a></p>
      </div>
    </div>
  </div>
</footer>
</body>
<script type="text/javascript">
    $("#nav_1207138 .dropdown").hover(function(){
        $(this).addClass("open");
        $(this).find(".dropdown-menu").show();
    },function(){
        $(this).removeClass("open");
        $(this).find(".dropdown-menu").hide()
    })
</script>
</html>
