<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Company</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="css/theme.css" media="all">
<script type="text/javascript" src="bootstrap/js/jquery_1_8.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div id="headerwrap">
  <header id="header">
    <div style="display: none;" class="top_services" id="top_services">
      <div class="container">
        <div class="row-fluid">
          <div class="span3">
            <h3 class="fnt1">Services</h3>
            <p>As well as building great products for the travel industry we also offer our skill set to develop great products for specific projects that match our passion for making the internet a better place. If you would like to find out more explore each sevice offering in detail then get in touch.</p>
          </div>
          <div class="span3">
            <h3>Online Software</h3>
            <p>We develop stunning and intuitive online software that enable users to engage with brands through a great user experience.</p>
            <a href="#">View Work</a></div>
          <div class="span3">
            <h3>Mobile Applications</h3>
            <p>We develop mobile apps and mobile websites that enhance the user experience through great design for iOS, Android and Windows platforms.</p>
            <a href="#">View Work</a></div>
          <div class="span3">
            <h3>Website Development</h3>
            <p>We believe great design affects the ability of a website to sell, educate and convert leads into sales and then over again seamlessly.</p>
            <a href="#">View Work</a></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="container">
      <div class="row-fluid">
        <div class="span4 logo">
          <div class="fleft"><a href="#"><img alt="Locomote" src="images/logo.png"></a></div>
        </div>
        <div class="span8 menu">
          <div class="navstyle">
            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <div class="container"> <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar"> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                  <div class="nav-collapse collapse"> 
                    <!-- Dynamic Menu Begin CSS Output -->
                    <div id="cat_1207138_divs">
                      <ul id="nav_1207138">
                        <li class="selected"><a href="#">Home</a></li>
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle">Benefits<i class="icon-slidedown"></i></a>
                          <ul id="navsub_1207138_596436" class="dropdown-menu">
                            <li><a href="#">Operational Efficiency</a></li>
                            <li><a href="#">Financial Improvements</a></li>
                            <li><a href="#">Corporate Governance and Duty of Care Compliance</a></li>
                            <li><a href="#">Control of profile data &amp; process flow</a></li>
                            <li><a href="#">Modular Development</a></li>
                            <li><a href="#">Mobile Capability</a></li>
                            <li><a href="#">Support Centre</a></li>
                            <li><a href="#">Reporting Suite</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle">App Centre<i class="icon-slidedown"></i></a>
                          <ul id="navsub_1207138_596445" class="dropdown-menu">
                            <li><a href="#">Full List of Apps</a></li>
                            <li><a href="#">Payment Processing</a></li>
                            <li><a href="#">Corporate Booking Tool</a></li>
                            <li><a href="#">Airline Risk Calculator</a></li>
                            <li><a href="#">Ground Transportation</a></li>
                            <li><a href="#">Expense Management</a></li>
                            <li><a href="#">Traveller Tracking</a></li>
                            <li><a href="#">Developer Network</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle">Company<i class="icon-slidedown"></i></a>
                          <ul id="navsub_1207138_596454" class="dropdown-menu">
                            <li><a href="#">Management Team</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Other Projects</a></li>
                            <li><a href="#">Contact Us</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="https://www.locomotetmp.com/sign_in" target="_top">Login</a></li>
                        <li class="btnmenu"><a href="#">Enquire</a></li>
                      </ul>
                    </div>
                    <!-- Dynamic Menu End CSS Output --> 
                  </div>
                  <!--/.nav-collapse --> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- /container --> 
    </div>
  </header>
</div>
<section id="banner">
  <section class="banner">
    <div class="bannerwrap">
      <figure><img alt="Travel Management Platform" src="images/banner-e.png"></figure>
      <div class="banner_txt">
        <h2>Travel Management Platform</h2>
        <p><b>Save Cost. Be Compliant. Take Control.</b></p>
        <div class="btnview"><a rel="media-gallery" style="width: 299px; height: 58px; display: block;" href="#" class="fancybox-media"><img class="normal" alt="View Presentation" src="images/btn_view.png"><img class="over" alt="View Presentation" src="images/btn_view_over.png"></a></div>
        <h4><a href="#">Learn more</a></h4>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </section>
  <div class="clear"></div>
</section>
<section class="midhome" id="mid">
  <div class="container mid_cont h_cont">
    <div class="row-fluid">
      <div class="innerpad1 bg1 pad1">
        <h1>Why do you still pay too much?</h1>
        <h5>The best way to reduce travel costs is to prevent unnecessary and expensive travel. Most companies have negotiated discounts. Most companies have a good travel policy. But these are of limited value unless the policy is rigorously applied. And the time to do that is obviously before the booking; before the money is spent.</h5>
        <h4>Cost Solution</h4>
        <h5>Our automated pre-trip approval system ensures that policy is applied before the booking request leaves the building. Non-essential travel can be vetted. Your customised travel policy is applied in detail. Budgets are applied and tracked. The travel management platform applies full financial management to the business of travel, with every booking.</h5>
        <h4><a href="#">Learn more about financial improvements</a></h4>
        <figure class="pad4"><img alt="" src="images/img_finance.png"></figure>
        <br>
        <br>
      </div>
      <div class="innerpad1 bg1 pad1 pad3 ">
        <h1>Who really controls your travel?</h1>
        <h5>Who really manages your travel? Whoever houses the travel data and the traveller profiles effectively controls your travel supply chain. This data lock-in means you cannot pick and choose the best suppliers and systems. This limits your choice. This costs you money. And every time you change suppliers, you lose the data.</h5>
        <h4>Control Solution</h4>
        <h5>Underlying our travel manegement platform is an independent organised database that you own and control. Just as importantly, The travel manegement platform is agnostic and open, so that you choose the suppliers on their merits.</h5>
        <h4><a href="#">Learn more about control over your data</a></h4>
        <figure class="pad5"><img alt="" src="images/img_control.gif"></figure>
      </div>

      <div class="innerpad1 bg1 pad1 pad3">
        <h1>Are your travellers at risk?</h1>
        <h5>Can you adequately control where they go? Where they stay? Who they fly? Do you have informed warnings of situations and locations? Do you have deep upfront knowledge to prevent travel risk? Can you apply it? Can you communicate with travellers? New legislation makes this your responsibility.</h5>
        <h4>Risk Solution</h4>
        <h5>Our automated pre-trip approval system applies tailored risk filters to your travel requests. You have full information and control. Travel risk is automatically prevented. We can even provide latest accredited safety ratings not just for an airline but for the individual aircraft per flight.</h5>
        <h4><a href="#">Learn more about risk compliance</a></h4>
        <figure class="pad4"><img alt="" src="images/homeimg_risk.png"></figure>
<br/>
      </div>
      <div class="innerpad1 pad1 pad3">
        <h1>Save Cost. Be Compliant. Take Control.</h1>
        <h5>For an indepth walkthrough request a free demonstration now.</h5>
        <div class="bnbtn bnlarge_fnt span5"><a href="#" class="btnclick"><span class="b_text">Request a Demo</span><span class="icon_demo"><img alt="" src="images/icon_demo.png"></span></a></div>
      </div>
      <div><br>
      </div>
      <div><br>
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
        <h5>BENEFITS</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209938_divs">
          <ul id="nav_1209938">
            <li><a href="#">Operational Efficiency</a></li>
            <li><a href="#">Financial Improvements</a></li>
            <li><a href="#">Corporate Governance and Duty of Care Compliance</a></li>
            <li><a href="#">Control of profile data &amp; process flow</a></li>
            <li><a href="#">Modular Development</a></li>
            <li><a href="#">Mobile Capability</a></li>
            <li><a href="#">Support Centre</a></li>
            <li><a href="#">Reporting Suite</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span2">
        <h5>APP CENTRE</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209939_divs">
          <ul id="nav_1209939">
            <li><a href="#">Full List of Apps</a></li>
            <li><a href="#">Payment Processing</a></li>
            <li><a href="#">Corporate Booking Tool</a></li>
            <li><a href="#">Airline Risk Calculator</a></li>
            <li><a href="#">Ground Transportation</a></li>
            <li><a href="#">Expense Management</a></li>
            <li><a href="#">Traveller Tracking</a></li>
            <li><a href="#">Developer Network</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span2">
        <h5>COMPANY</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209940_divs">
          <ul id="nav_1209940">
            <li><a href="#">Management Team</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span1">
        <h5>OTHER</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209941_divs">
          <ul id="nav_1209941">
            <li><a href="#">Pricing</a></li>
            <li><a href="#" target="_top">Login</a></li>
            <li><a href="#">Enquire</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span5">
        <h1><a class="btn" href="#">Enquire</a><span class="icphone">+613 8598 0695</span></h1>
        <div class="fright">
          <h4>SOCIAL CONNECT</h4>
          <ul>
            <li><a class="ifb" target="_top" href="#">&nbsp;</a></li>
            <li><a class="itw" target="_top" href="#">&nbsp;</a></li>
            <li><a class="iin" target="_top" href="#">&nbsp;</a></li>
            <li><a class="iyt" target="_top" href="#">&nbsp;</a></li>
            <li><a class="igp" target="_top" href="#">&nbsp;</a></li>
          </ul>
        </div>
        <h2><a href="/"><img alt="Locomote" src="images/logo_foot.png"></a></h2>
        <p><strong>Head Office</strong> 42 Barkly Street, St Kilda, VIC 3182, Australia</p>
        <p><a href="#">Privacy Policy</a>|<a href="#">Terms &amp; Conditions</a></p>
      </div>
    </div>
  </div>
</footer>
</body>
<script type="text/javascript">
    $("#nav_1207138 .dropdown").hover(function(){
        $(this).addClass("open");
        $(this).find(".dropdown-menu").show();
    },function(){
        $(this).removeClass("open");
        $(this).find(".dropdown-menu").hide()
    })
</script>
</html>
