<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Other Products</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="css/theme.css" media="all">
<script type="text/javascript" src="bootstrap/js/jquery_1_8.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div id="headerwrap">
  <header id="header">
    <div style="display: none;" class="top_services" id="top_services">
      <div class="container">
        <div class="row-fluid">
          <div class="span3">
            <h3 class="fnt1">Services</h3>
            <p>As well as building great products for the travel industry we also offer our skill set to develop great products for specific projects that match our passion for making the internet a better place. If you would like to find out more explore each sevice offering in detail then get in touch.</p>
          </div>
          <div class="span3">
            <h3>Online Software</h3>
            <p>We develop stunning and intuitive online software that enable users to engage with brands through a great user experience.</p>
            <a href="#">View Work</a></div>
          <div class="span3">
            <h3>Mobile Applications</h3>
            <p>We develop mobile apps and mobile websites that enhance the user experience through great design for iOS, Android and Windows platforms.</p>
            <a href="#">View Work</a></div>
          <div class="span3">
            <h3>Website Development</h3>
            <p>We believe great design affects the ability of a website to sell, educate and convert leads into sales and then over again seamlessly.</p>
            <a href="#">View Work</a></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="container">
      <div class="row-fluid">
        <div class="span4 logo">
          <div class="fleft"><a href="#"><img alt="Locomote" src="images/logo.png"></a></div>
        </div>
        <div class="span8 menu">
          <div class="navstyle">
            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <div class="container"> <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar"> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                  <div class="nav-collapse collapse"> 
                    <!-- Dynamic Menu Begin CSS Output -->
                    <div id="cat_1207138_divs">
                      <ul id="nav_1207138">
                        <li class="selected"><a href="#">Home</a></li>
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle">Benefits<i class="icon-slidedown"></i></a>
                          <ul id="navsub_1207138_596436" class="dropdown-menu">
                            <li><a href="#">Operational Efficiency</a></li>
                            <li><a href="#">Financial Improvements</a></li>
                            <li><a href="#">Corporate Governance and Duty of Care Compliance</a></li>
                            <li><a href="#">Control of profile data &amp; process flow</a></li>
                            <li><a href="#">Modular Development</a></li>
                            <li><a href="#">Mobile Capability</a></li>
                            <li><a href="#">Support Centre</a></li>
                            <li><a href="#">Reporting Suite</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle">App Centre<i class="icon-slidedown"></i></a>
                          <ul id="navsub_1207138_596445" class="dropdown-menu">
                            <li><a href="#">Full List of Apps</a></li>
                            <li><a href="#">Payment Processing</a></li>
                            <li><a href="#">Corporate Booking Tool</a></li>
                            <li><a href="#">Airline Risk Calculator</a></li>
                            <li><a href="#">Ground Transportation</a></li>
                            <li><a href="#">Expense Management</a></li>
                            <li><a href="#">Traveller Tracking</a></li>
                            <li><a href="#">Developer Network</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle">Company<i class="icon-slidedown"></i></a>
                          <ul id="navsub_1207138_596454" class="dropdown-menu">
                            <li><a href="#">Management Team</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Other Projects</a></li>
                            <li><a href="#">Contact Us</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#" target="_top">Login</a></li>
                        <li class="btnmenu"><a href="#">Enquire</a></li>
                      </ul>
                    </div>
                    <!-- Dynamic Menu End CSS Output --> 
                  </div>
                  <!--/.nav-collapse --> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- /container --> 
    </div>
  </header>
</div>
<section id="mid">
<div class="container h_cont">
<div class="row-fluid">
<div class="container-page">
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/medibank-main.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="Medibank"></div>
    <div class="cs-left">
        <h5>Medibank</h5>
        <div class="dotted-break1"></div>
        <p>Medibank in conjunction with PlanB Travel approached us to build a private travel portal for the staff of medibank allowing them to book leisure holidays at discounted rates. The end result was a easy to use portal for quick and simple bookings of flights, hotels and holiday packages. The feedback to date has been very positive with engagement up 23% from laucnhing the platform to the medibank staff.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
    <br>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/bamboo.jpg" style="border: 0 solid; float: right; margin-right: 60px;" class="folionomargin" alt="Bamboo"></div>
    <div class="cs-left">
        <h5>Bamboo</h5>
        <div class="dotted-break1"></div>
        <p>When a crisis occurs, would you know what to do? We recognised the challenge of business continuity during times of crisis, specifically around providing dispersed staff with accurate and real-time information about the situation and their expected response. Traditionally, large organisations have relied on paper-based business continuity plans, which rapidly become out of date or irrelevant during a crisis, as managers struggle to locate them or abandon them during evacuations.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/mobile_apps_small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
    <br>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-thegift.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="The Gift Register"></div>
    <div class="cs-left">
        <h5>The Gift Register</h5>
        <div class="dotted-break1"></div>
        <p>The Gift Register is the easiest way to show your family and friends the gifts you really want! Locomote partnered with The Gift Register to develop a facebook application and mobile platform that allows users to create lists for all special occasions and share them with family and friends.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/mobile_apps_small.jpg" class="cs-icons"><img alt="" src="images/online_sw_small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
    <br>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-planb.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="PlanB travel"></div>
    <div class="cs-left">
        <h5>PlanB Travel</h5>
        <div class="dotted-break1"></div>
        <p>This portal is the next generation of travel technology in Australia, catering to the corporate, SME and closed user group markets, offering significant corporate and staff member leisure benefits. Building on leading best practice travel booking technologies. We produced a front-end booking engine that is state of the art and built today for the travel needs of tomorrow. The booking engine integrates seamlessly into the travel back-office and removes the need for double handling of transactions, thus saving time and money for the end user.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/online_sw_small.jpg" class="cs-icons"><img alt="" src="images/web-dev_small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
    <br>
    <br>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-shopspot.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="The Shop Spot"></div>
    <div class="cs-left">
        <h5>The Shop Spot</h5>
        <div class="dotted-break1"></div>
        <p>TheShopSpot.com.au is a free club which organises online private sales of exclusive designer brands. Sales are from well-recognised and established brands that are sold at reduced prices (typically between -30% and -80% off) compared to the retail price. Locomote was approached to create a new design and to improve the workflow in order to grow their database and to increase online conversions.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-zambrero.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="Zambrero"></div>
    <div class="cs-left">
        <h5>Zambrero</h5>
        <div class="dotted-break1"></div>
        <p>Zambrero is a world of bold, fresh flavours and colours, where you can eat healthily and share your food and good fortune with others. Zambrero partnered with Locomote to develop their online presence and to also join them on their journey as they grow to become one of Australia's largest Franchises, as they were just awarded BRW Fast Franchise Awards being placed 3rd overall.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-hvd.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folionomargin" alt="Home Visiting Doctor"></div>
    <div class="cs-left">
        <h5>Home Visiting Doctor</h5>
        <div class="dotted-break1"></div>
        <p>Home visiting doctor is a free medical service providing after hours care for people in need. The brief was to create an engaging mobile application for both iPhone and Android devices along with marketing material such as a website with a video animation to explain what the service provides and to allow for quick access to this service in time of need.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/mobile_apps_small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-mmds.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="MMDS"></div>
    <div class="cs-left">
        <h5>MMDS</h5>
        <div class="dotted-break1"></div>
        <p>Melbourne Medical Deputising Service (MMDS) is the leading provider of quality urgent after hours medical care to people across metropolitan melbourne and regional areas such as Geelong and beyond. MMDS selected Locomote to fully re-develop their online presence incorporating the growing mobile market.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-rexpost.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="RexPost"></div>
    <div class="cs-left">
        <h5>RexPost</h5>
        <div class="dotted-break1"></div>
        <p>Do you look after the mailing at your workplace? or send express post items frequently? If you do then this mobile application will take out the pain of remembering who what and where you posted your items to and you can even track your items while on the go. RexPost is an easy to use application that allows you to store all of your express post item details.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/mobile_apps_small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-motionproperty.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="Motion Property"></div>
    <div class="cs-left">
        <h5>Motion Property</h5>
        <div class="dotted-break1"></div>
        <p>Motion Property liaises with a wide spectrum of developers to acquire properties with strong investment potential. They use a professional, research-based approach to determine geographical and demographic growth markets and thus, identify and recommend the most qualified residential property investments. Locomote was approached to create a new online experience and to improve the workflow in order to grow their database and to increase online enquiries.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-verticalit.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="Vertical IT"></div>
    <div class="cs-left">
        <h5>Vertical IT</h5>
        <div class="dotted-break1"></div>
        <p>Vertical IT is a specialised Mac retailer with ubelievable customer support. They contacted us at Locomote to create an engaging online store to help build their online presence and to create an online store that converts into sales. The end result was a clean online store showcasing the latest range of mac equipment and software.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" target="_top" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-clyde.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="Clyde Duke"></div>
    <div class="cs-left">
        <h5>Clyde Duke</h5>
        <div class="dotted-break1"></div>
        <p>Clyde Duke Clothing is a lifestyle label founded in 2008 Melbourne, Australia. Vincent from Clyde Duke contact us at Locomote to create an engaging online store to help build their online presence and to create an online store that converts into sales. The end result was a clean online store showcasing the latest range of clothing from Clyde Duke. The new website achieved all goals set by both Vincent and the team at Locomote with an increase of over 46% in conversion rates.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-360.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="Complete360"></div>
    <div class="cs-left">
        <h5>Complete360</h5>
        <div class="dotted-break1"></div>
        <p>Complete 360 is an online personal trainer to help you improve yourself, challenge yourself and complete yourself. This application was built to generate customised workouts and eating plans tailored to your lifestyle.</p>
        <p>You can track the progress of your results and share your achievements with your friends on facebook and on twitter.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/online_sw_small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-named.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="Named"></div>
    <div class="cs-left">
        <h5>Named</h5>
        <div class="dotted-break1"></div>
        <p>Named is a unique business that offers personalised childrens gifts.They contacted us at Locomote to create an engaging online store to help build their online presence and to create a store that converts leads into sales. The end result was a clean online store showcasing the full range of personalised baby and childrens gifts.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" target="_top" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-mackillop.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="MacKillop College"></div>
    <div class="cs-left">
        <h5>MacKillop College</h5>
        <div class="dotted-break1"></div>
        <p>After our initial meeting with the ICT manager we discovered are's of MacKillop online presence that needed improving with engagement of parents and teachers as the number one focus. We then put the plan into action with a complete over haul of MacKillop's existing website and replacing it with a fresh user friendly design, enabling easy navigation while making the website engaging for both parents and students.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-mbe.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="MBE Education"></div>
    <div class="cs-left">
        <h5>MBE Education</h5>
        <div class="dotted-break1"></div>
        <p>MBE Education is a business that brings together the best business minds in the country to teach business owners how to maximise the value of their business. The team at MBE approached Locomote to re-develop their existing website into a more engaging online presence and to increase their conversion rate.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-atlas.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="Atlas Rentals"></div>
    <div class="cs-left">
        <h5>Atlas Rentals</h5>
        <div class="dotted-break1"></div>
        <p>Atlas Car &amp; Truck Rentals approached Locomote to re-vamp their online presence and to increase their online enquiries. We started with a strategy session to set the goals for the website and then began a series of design layouts that would best deliver the results set out from our meetings. The end result was an engaging online presence that increased online enquires by over 59% in just its first two months of being launched.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"><img alt="" src="images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->
<div class="cs-boxcontent clearfix">
    <div class="pfimg"><img src="images/cs-eee.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="Emagine Education Everywhere"></div>
    <div class="cs-left">
        <h5>Emagine Education Everywhere</h5>
        <div class="dotted-break1"></div>
        <p>Emagine Education Everywhere (EEE) is a charity that provides children the opportunity to have equality in education by establishing IT centres in underprivileged communities. Locomote is proud to be the official digital partner for EEE by offering our services and products to the aid of this great cause.</p>
        <div class="dotted-break2"></div>
        <img alt="" src="images/web-dev_small.jpg" class="cs-icons"> <a href="#" target="_top" class="view-more1 fltrt"><span>View More</span></a>
        <div class="clear"></div>
        <div class="dotted-break2"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- ***Segment End*** -->

</div>
</div>
</div>
</section>
<footer id="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
        <h5>BENEFITS</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209938_divs">
          <ul id="nav_1209938">
            <li><a href="#">Operational Efficiency</a></li>
            <li><a href="#">Financial Improvements</a></li>
            <li><a href="#">Corporate Governance and Duty of Care Compliance</a></li>
            <li><a href="#">Control of profile data &amp; process flow</a></li>
            <li><a href="#">Modular Development</a></li>
            <li><a href="#">Mobile Capability</a></li>
            <li><a href="#">Support Centre</a></li>
            <li><a href="#">Reporting Suite</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span2">
        <h5>APP CENTRE</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209939_divs">
          <ul id="nav_1209939">
            <li><a href="#">Full List of Apps</a></li>
            <li><a href="#">Payment Processing</a></li>
            <li><a href="#">Corporate Booking Tool</a></li>
            <li><a href="#">Airline Risk Calculator</a></li>
            <li><a href="#">Ground Transportation</a></li>
            <li><a href="#">Expense Management</a></li>
            <li><a href="#">Traveller Tracking</a></li>
            <li><a href="#">Developer Network</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span2">
        <h5>COMPANY</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209940_divs">
          <ul id="nav_1209940">
            <li><a href="#">Management Team</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span1">
        <h5>OTHER</h5>
        <!-- Dynamic Menu Begin CSS Output -->
        <div id="cat_1209941_divs">
          <ul id="nav_1209941">
            <li><a href="#">Pricing</a></li>
            <li><a href="#" target="_top">Login</a></li>
            <li><a href="#">Enquire</a></li>
          </ul>
        </div>
        <!-- Dynamic Menu End CSS Output --> 
      </div>
      <div class="span5">
        <h1><a class="btn" href="#">Enquire</a><span class="icphone">+613 8598 0695</span></h1>
        <div class="fright">
          <h4>SOCIAL CONNECT</h4>
          <ul>
            <li><a class="ifb" target="_top" href="#">&nbsp;</a></li>
            <li><a class="itw" target="_top" href="#">&nbsp;</a></li>
            <li><a class="iin" target="_top" href="#">&nbsp;</a></li>
            <li><a class="iyt" target="_top" href="#">&nbsp;</a></li>
            <li><a class="igp" target="_top" href="#">&nbsp;</a></li>
          </ul>
        </div>
        <h2><a href="/"><img alt="Locomote" src="images/logo_foot.png"></a></h2>
        <p><strong>Head Office</strong> 42 Barkly Street, St Kilda, VIC 3182, Australia</p>
        <p><a href="#">Privacy Policy</a>|<a href="#">Terms &amp; Conditions</a></p>
      </div>
    </div>
  </div>
</footer>
</body>
<script type="text/javascript">
    $("#nav_1207138 .dropdown").hover(function(){
        $(this).addClass("open");
        $(this).find(".dropdown-menu").show();
    },function(){
        $(this).removeClass("open");
        $(this).find(".dropdown-menu").hide()
    })
</script>
</html>
