<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="css/theme.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet/less" type="text/css" href="css/lesscss.less"/>
    <script type="text/javascript" src="bootstrap/js/lesscss.js"></script>
</head>
<body>
<div id="header">
    <h2>Hello World!</h2>
    <div class="has-item">
        <p class="list-title"><strong>Products in your shopping cart</strong></p>
        <ul class="clearfix">
            <li>
                <dl>
                    <dt><a href="../../static-page/Eos-Project/product.shtml" title=""><img src="images/toys/175/800142-4918.jpg"></a></dt>
                    <dd><a href="../../static-page/Eos-Project/product.shtml" title="">Fashion Lashes - 30 Pairs Long, Dramatic Blunt Cut False Eyelashes FX</a><p class="red relative">Color: Almond<br/>Size: M<br/><em>USD</em> $125.00<a href="#" class="item-remove"></a></p></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><a href="../../static-page/Eos-Project/product.shtml" title=""><img src="images/toys/175/3465-4115.jpg"></a></dt>
                    <dd><a href="../../static-page/Eos-Project/product.shtml" title="">Fashion Lashes - 30 Pairs Long, Dramatic Blunt Cut False Eyelashes FX</a><p class="red relative">Color: Almond<br/>Size: M<br/><em>USD</em> $125.00 * 1<a href="#" class="item-remove"></a></p></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><a href="../../static-page/Eos-Project/product.shtml" title=""><img src="images/toys/175/10465-4006.jpg"></a></dt>
                    <dd><a href="../../static-page/Eos-Project/product.shtml" title="">Fashion Lashes - 30 Pairs Long, Dramatic Blunt Cut False Eyelashes FX</a><p class="red relative">Color: Almond<br/>Size: M<br/><em>USD</em> $125.00<a href="#" class="item-remove"></a></p></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><a href="../../static-page/Eos-Project/product.shtml" title=""><img src="images/toys/175/12260-4067.jpg"></a></dt>
                    <dd><a href="../../static-page/Eos-Project/product.shtml" title="">Fashion Lashes - 30 Pairs Long, Dramatic Blunt Cut False Eyelashes FX</a><p class="red relative">Color: Almond<br/>Size: M<br/><em>USD</em> $125.00<a href="#" class="item-remove"></a></p></dd>
                </dl>
            </li>
        </ul>
        <div class="cart-operate widget">
            <p class="total-count"><strong>Cart Total: <span class="red pull-right"><em>USD</em> $128.00</span></strong></p>
            <p><button type="button" class="btn btn-small pull-left">Go to Shopping Cart</button><button type="button" class="btn btn-toy pull-right" onclick="location.href='../../static-page/Eos-Project/checkout.shtml'">Proceed to Checkout</button></p>
        </div>
    </div>
</div>
</body>
</html>