<section id="banner">
  <section class="banner">
    <div class="bannerwrap">
      <figure><img alt="Travel Management Platform" src="images/banner-e.png"></figure>
      <div class="banner_txt">
        <h2>Travel Management Platform</h2>
        <p><b>Save Cost. Be Compliant. Take Control.</b></p>
        <div class="btnview"><a rel="media-gallery" style="width: 299px; height: 58px; display: block;" href="#" class="fancybox-media"><img class="normal" alt="View Presentation" src="images/btn_view.png"><img class="over" alt="View Presentation" src="images/btn_view_over.png"></a></div>
        <h4><a href="#">Learn more</a></h4>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </section>
  <div class="clear"></div>
</section>
<section class="midhome" id="mid">
  <div class="container mid_cont h_cont">
    <div class="row-fluid">
      <div class="innerpad1 bg1 pad1">
        <h1>Why do you still pay too much?</h1>
        <h5>The best way to reduce travel costs is to prevent unnecessary and expensive travel. Most companies have negotiated discounts. Most companies have a good travel policy. But these are of limited value unless the policy is rigorously applied. And the time to do that is obviously before the booking; before the money is spent.</h5>
        <h4>Cost Solution</h4>
        <h5>Our automated pre-trip approval system ensures that policy is applied before the booking request leaves the building. Non-essential travel can be vetted. Your customised travel policy is applied in detail. Budgets are applied and tracked. The travel management platform applies full financial management to the business of travel, with every booking.</h5>
        <h4><a href="#">Learn more about financial improvements</a></h4>
        <figure class="pad4"><img alt="" src="images/img_finance.png"></figure>
        <br>
        <br>
      </div>
      <div class="innerpad1 bg1 pad1 pad3 ">
        <h1>Who really controls your travel?</h1>
        <h5>Who really manages your travel? Whoever houses the travel data and the traveller profiles effectively controls your travel supply chain. This data lock-in means you cannot pick and choose the best suppliers and systems. This limits your choice. This costs you money. And every time you change suppliers, you lose the data.</h5>
        <h4>Control Solution</h4>
        <h5>Underlying our travel manegement platform is an independent organised database that you own and control. Just as importantly, The travel manegement platform is agnostic and open, so that you choose the suppliers on their merits.</h5>
        <h4><a href="#">Learn more about control over your data</a></h4>
        <figure class="pad5"><img alt="" src="images/img_control.gif"></figure>
      </div>

      <div class="innerpad1 bg1 pad1 pad3">
        <h1>Are your travellers at risk?</h1>
        <h5>Can you adequately control where they go? Where they stay? Who they fly? Do you have informed warnings of situations and locations? Do you have deep upfront knowledge to prevent travel risk? Can you apply it? Can you communicate with travellers? New legislation makes this your responsibility.</h5>
        <h4>Risk Solution</h4>
        <h5>Our automated pre-trip approval system applies tailored risk filters to your travel requests. You have full information and control. Travel risk is automatically prevented. We can even provide latest accredited safety ratings not just for an airline but for the individual aircraft per flight.</h5>
        <h4><a href="#">Learn more about risk compliance</a></h4>
        <figure class="pad4"><img alt="" src="images/homeimg_risk.png"></figure>
        <br/>
      </div>
      <div class="innerpad1 pad1 pad3">
        <h1>Save Cost. Be Compliant. Take Control.</h1>
        <h5>For an indepth walkthrough request a free demonstration now.</h5>
        <div class="bnbtn bnlarge_fnt span5"><a href="#" class="btnclick"><span class="b_text">Request a Demo</span><span class="icon_demo"><img alt="" src="images/icon_demo.png"></span></a></div>
      </div>
      <div><br>
      </div>
      <div><br>
      </div>
    </div>
  </div>
</section>