<section id="mid">
  <div class="container mid_cont pad8">
    <div class="row-fluid w-product">
      <div class="cs-boxcontent clearfix">
        <div class="pfimg"><img src="/images/cs-mbe.jpg" style="border: 0 solid; float: right; margin-right: -40px;" class="folioimgmargin" alt="MBE Education"></div>
        <div class="cs-left">
          <h5>MBE Education</h5>
          <div class="dotted-break1"></div>
          <p>MBE Education is a business that brings together the best business minds in the country to teach business owners how to maximise the value of their business. The team at MBE approached Locomote to re-develop their existing website into a more engaging online presence and to increase their conversion rate.</p>
          <div class="dotted-break2"></div>
          <img alt="" src="/images/web-dev_small.jpg" class="cs-icons"><img alt="" src="/images/digital-strategy-small.jpg" class="cs-icons"> <a href="#" class="view-more1 fltrt"><span>View More</span></a>
          <div class="clear"></div>
          <div class="dotted-break2"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row innerpad1 h_cont pad7 tab1">
        <ul class="nav nav-tabs">
          <li class="tabmenu1 active"><a href="#tabcont1" data-toggle="tab">Overview</a></li>
          <li class="tabmenu2"><a href="#tabcont2" data-toggle="tab">Reviews</a></li>
        </ul>
      </div>
      <div class="row h_cont  pad7 ">
        <div class="span12 app_6_left tab-content">
          <div id="tabcont1" class="tab-pane active innerpad1 clearfix">
            <div class="tabcont1txt">
              <p class="product-preview"><%= image_tag @product.photo.url(:large)%></p>
              <p class="product-name"><%= @product.title %></p>
              <p class="product-name"><%= @product.description %></p>
              <br/>
              <h5>eNett Virtual Account Numbers (VANs) facilitate secure payments through the MasterCard network and can be generated for each booking, ensuring smarter and safer payments to suppliers.</h5>
            </div>
            <div class="app_6_right">
              <div class="innerpad5">
                <h4>Contact</h4>
                <p class="red product-price">
                  <strong>Price: <span><em>US</em> $<%= @product.price%></span></strong>
                </p>
                <div class="toShopping bnbtn">
                  <a href="javascript:;" class="btnclick">
                    <span class="b_text">To Shopping</span>
                    <span class="icon_demo"><img src="/images/icon_demo.png"/></span>
                  </a>
                </div>
                <div class="clear"></div>
                <h4>United Kingdom</h4>
                <p>Capital Place, 120 Bath Road<br>
                  Heathrow, London, UB3 5AN<br>
                  United Kingdom<br>
                  <strong>T:</strong> +44 203 178 8823<br>
                  <strong>F:</strong> +44 203 137 3173</p>
                <h4>Support</h4>
                <p> Provided by service eNett </p>
                <h4>Locomote Editions</h4>
                <p> Business, Enterprise </p>
                <h4>Package Details</h4>
                <p> Web Application</p>
                <h4>Languages</h4>
                <p> English </p>
              </div>
            </div>
          </div>
          <div id="tabcont2" class="tab-pane tabcont2">
            <div class="content">
              <div class="imgavatar"> <img alt="" src="/images/img_avatar.jpg" height="93" width="95"> </div>
              <div class="ravatar">
                <h4>Carolyn McCall, easyJet Chief Executive</h4>
                <div class="starrating"> <img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="images/star_yellow.jpg"><img alt="" src="images/star_yellow.jpg"><img alt="" src="images/star_gray.jpg"> </div>
                <p>It's a virtual card solution. It resolves all the back office reconciliation issues and will be cost-effective for us and for the trade.</p>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr>
            <div class="content">
              <div class="imgavatar"> <img alt="" src="/images/img_avatar.jpg" height="93" width="95"> </div>
              <div class="ravatar">
                <h4>Jani Kaskinen, Chief Executive Officer of Hotelzon International</h4>
                <div class="starrating"> <img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_gray.jpg"> </div>
                <p>VANs were chosen because they offers greater control and security when making payments to hotel suppliers. The platform enables our customers to set the date and amount of the virtual card transaction and also allows multiple authorisation messages, which is a unique feature of the solution.</p>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr>
            <div class="content">
              <div class="imgavatar"> <img alt="" src="/images/img_avatar.jpg" height="93" width="95"> </div>
              <div class="ravatar">
                <h4>Tamara Heber-Percy, Chief Technical Officer and Founder of Mr &amp; Mrs Smith Hotels</h4>
                <div class="starrating"> <img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"> </div>
                <p>Adopting VANs is helping us to streamline and secure the way we handle pre-paid bookings made by customers at our partner hotels.  VANs reduce the financial risk associated with online transactions by allowing us to issue virtual cards for an exact transaction value, and include a future activation date.  This, together with the comprehensive web-based reporting, addresses many of the issues we have had to contend with in making payments to our partner hotels.</p>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr>
            <div class="content">
              <div class="imgavatar"> <img alt="" src="/images/img_avatar.jpg" height="93" width="95"> </div>
              <div class="ravatar">
                <h4>Victor Hendriks, Director of Vliegtickets.nl</h4>
                <div class="starrating"> <img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"><img alt="" src="/images/star_yellow.jpg"> </div>
                <p>With Vliegtickets.nl continuing to grow its business in the Benelux region, we were looking for a safe, cost effective and efficient means of paying the growing number of suppliers we work with. Using VANs to make these payments has reduced our financial risk, streamlined our accounts payable processes and provided us with comprehensive real-time reporting.</p>
              </div>
              <div style="clear: both;"></div>
            </div>
            <hr>
            <div class="innerpad1 pad1 pad3 comp_part">
              <div class="row-fluid">
                <div class="span12">
                  <div style="display: block;" id="form_div" class="review_form">
                    <!--form_div-->
                    <h1>Write a Review</h1>
                    <form id="reviewform" action="" enctype="multipart/form-data" method="post" name="catwebformform91091">
                      <input value="Payment Processing" id="CAT_Custom_242191" name="CAT_Custom_242191" type="hidden">
                      <br>
                      <div class="row-fluid">
                        <div class="span6">
                          <div class="cont_div">
                            <label>
                              <select class="txt1" id="CAT_Custom_242184" name="CAT_Custom_242184">
                                <option value=" ">Select Rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </label>
                          </div>
                          <div class="cont_div">
                            <label for="FullName">Full Name: </label>
                            <input value="" name="FullName" id="FullName" class="txt1" maxlength="255" type="text">
                          </div>
                          <div class="cont_div">
                            <label for="EmailAddress">Email Address: </label>
                            <input value="" maxlength="255" class="txt1" id="EmailAddress" name="EmailAddress" type="text">
                          </div>
                        </div>
                        <div class="span6">
                          <div class="cont_div">
                            <label for="CAT_Custom_242185" style="margin:0">Review Description: </label>
                            <textarea onkeydown="if(this.value.length>=4000)this.value=this.value.substring(0,3999);" class="txt1 txtarea2" rows="4" cols="10" id="CAT_Custom_242185" name="CAT_Custom_242185"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="span4  reviewpad">
                        <div class="bnbtn mart7">
                          <button id="frmbtn" class="btnclick">Submit Review<span class="icon_demo"><img alt="" src="/images/icon_demo.png" class="iconmtm3"></span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>